mode: 17_gtmask_F_minopacity_0.2-0.1-0.1_L1_1_mask_1_ssim_1_lpips_1_size_20_grad_0.0006_position_lr_0.0016_random_1k_leaked_alpha
supplement: 
train_type : "random"
point_size : 1000
train_py: "train_refine_mask.py"
loss_py: "loss_util.py"
# train parameter
is_stage : True
is_clone_split : True

train:
  save_path : ./result/actor01/75_new
  dataset: DatasetActorsHQ
  subject_name: actor01
  data:
    data_dir: /mnt/cvda/cvda_phava/dataset/Actor01/Sequence1
    depth_dir: 
    frame_range: &id001
      - 075
      - 076
      - 1
    used_cam_ids: [6, 8, 21, 23, 110, 112, 126, 127, 128, 135, 136, 143, 144, 151, 152, 159, 160]
    test_cam_ids: [6,22,38,54,78,80]

  # plot loss
  use_wandb: False
  use_plot: Ture   # local storage
  use_tensorboard: True 

  loss:  # render loss 
    lamda_L1: 0.8
    lamda_ssim: 0.2
    lamda_ellipsoid: 10
    lamda_scale: 100
    lamda_lpips: 1
    lamda_l1mask: 10
    lamda_l1mask_list: [10, 10, 10]
    lamda_combined_mask: 0
    lamda_opacity: 0
    gt_mask: False  # add gt_mask to render_rbg
    use_invmask: Flase
    use_invmask_rgb: False

  # gs ellipsoidal regularization
  aniso_thres : 1  # ellipsoid anisotropy threshold
  max_scale : 0.1  # ellipsoid maximum scale

  checkpoint: True # whether to use checkpoint


# gs default paramete
OptimizationParams:
  iterations : 160_000
  position_lr_init : 0.0016 # 0.00016
  position_lr_final : 0.0000016
  position_lr_delay_mult : 0.01
  position_lr_max_steps : 30_000
  feature_lr : 0.0025
  opacity_lr : 0.025
  scaling_lr : 0.005
  rotation_lr : 0.001
  percent_dense : 0.01
  opacity_reset_interval : 1_000
  opacity_reset_interval_list: [1_000, 3_000, 3_000] # 3000
  densification_interval : 100
  densify_from_iter : 10  # 500 
  densify_grad_threshold : 0.0004
  densify_grad_threshold_list: [0.0004, 0.0004, 0.0002] # 0.0002  
  densify_until_iter : 6_000
  random_background : True
  spatial_lr_scale : 0
  optimizer_type : "default"

  # custom parameters
  log_save_interval: 1_000 # save image and ply every 1000 iterations
  size_threshold : 20
  opacity_prune_interval: 10_000
  opacity_prune_interval_list: [6_000, 30_000, 50_000]      # Dynamic opacity threshold adjustment
  min_opacity : 0.05
  min_opacity_interval_list: [0.05, 0.01, 0.01]
  gaussian_dropout_rate : 0
  opacity_noise_strength : 0

PipelineParamsNoparse:
    convert_SHs_python :  False
    compute_cov3D_python : False
    debug : False
    antialiasing : False

ModelParams:
    max_sh_degree : 0
    source_path : ""
    model_path : ""
    images : "images"
    depths : ""
    resolution : -1
    white_background : False
    train_test_exp : False
    data_device : "cuda"
    eval : False